// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.counters {
    margin-right:5px;
    font-size: 12px;
    text-align: center;}
    .vote, .answer {
        width:60 px;
        height: 60px;

    }

    strong{
        display: block;
        font-size:2em;

    }

    .status{
        &.unanswered {
            border:none
        }

        &.answered{
            border:1px solid $green;
            color:$green;
        }
        &.answered-accepted{
            background:$green;
            color:$white;
        }
    }

.vote-controls {
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: $gray-700;

    span, a {
        display: block;
    }

    span {
        &.votes-count {
            font-size:25px;
        }
        &.favorites-count {
            font-size:12px;
        }
    }

    a {
        cursor: pointer;
        color: $gray-600;

        &.off, &.off:hover {
            color: $gray-500;
        }

        &.favorite {
            &.favorited, &.favorited:hover {
                color: $warning;
            }
        }

        &.vote-accepted {
            color: $green;
        }
    }
}
